[submodule "main/external/guiunit"]
	path = main/external/guiunit
	url = https://github.com/mono/guiunit.git
[submodule "main/external/macdoc"]
	path = main/external/macdoc
	url = https://github.com/xamarin/macdoc
[submodule "main/external/mdtestharness"]
	path = main/external/mdtestharness
	url = https://github.com/mono/mdtestharness.git
[submodule "main/external/mono-tools"]
	path = main/external/mono-tools
	url = https://github.com/mono/mono-tools.git
[submodule "main/external/nrefactory"]
	path = main/external/nrefactory
	url = https://github.com/xamarin/NRefactory.git
[submodule "main/external/nuget-binary"]
	path = main/external/nuget-binary
	url = https://github.com/mono/nuget-binary.git
	branch = master
[submodule "main/external/sharpsvn-binary"]
	path = main/external/sharpsvn-binary
	url = https://github.com/mono/sharpsvn-binary.git
[submodule "main/external/Xamarin.PropertyEditing"]
	path = main/external/Xamarin.PropertyEditing
	url = https://github.com/xamarin/Xamarin.PropertyEditing
	branch = master
