[Desktop Entry]
Type=Application
Name=MonoDevelop
GenericName=Integrated Development Environment
GenericName[ja]=統合開発環境
GenericName[ru]=Интегрированная среда разработки
Comment=Develop .NET applications in an Integrated Development Environment
Comment[ja]=.NETアプリケーション開発を行うための統合開発環境
Comment[ru]=Создание приложений .NET в Интегрированной среде разработки
Keywords=C#;CSharp;.NET;dotnet;IDE;
Exec=monodevelop %F
TryExec=monodevelop
Icon=io.github.viniciusmorgado.MonoDevelop
StartupNotify=true
Terminal=false
MimeType=text/x-csharp;application/x-sln;application/x-csproj;
Categories=Development;IDE;GTK;
